<!DOCTYPE html>
<html lang="en">
<head>
<title>Sobre Nosotros</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Unicat project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
<link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="plugins/colorbox/colorbox.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" type="text/css" href="styles/about.css">
<link rel="stylesheet" type="text/css" href="styles/about_responsive.css">
</head>
<body>

<div class="super_container">

	<!-- Header -->

	<!-- Header -->

	<header class="header">
			
		<!-- Top Bar -->
		<div class="top_bar">
			<div class="top_bar_container">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="top_bar_content d-flex flex-row align-items-center justify-content-start">
								<ul class="top_bar_contact_list">
									<li><div class="question">Comunicate</div></li>
									<li>
										<i class="fa fa-phone" aria-hidden="true"></i>
										<div>+593 987444807</div>
									</li>
									<li>
										<i class="fa fa-envelope-o" aria-hidden="true"></i>
										<div>gpecarinformation@gmail.com</div>
									</li>
								</ul>
								
							</div>
						</div>
					</div>
				</div>
			</div>				
		</div>

		<!-- Header Content -->
		<div class="header_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="header_content d-flex flex-row align-items-center justify-content-start">
							<div class="logo_container">
								<a href="#">
									<div class="logo_text">GPE<span>car information</span></div>
								</a>
							</div>
							<nav class="main_nav_contaner ml-auto">
								<ul class="main_nav">
									<li><a href="/">Inicio</a></li>
									<li  class="active"><a href="/sobrenosotros">Sobre Nosotros</a></li>
									<li><a href="/carros">Carros</a></li>
									<li><a href="/contacto">Contacto</a></li>
								</ul>
								<div class="search_button"><i class="fa fa-search" aria-hidden="true"></i></div>

								
							</nav>

						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Header Search Panel -->
		<div class="header_search_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="header_search_content d-flex flex-row align-items-center justify-content-end">
							<form action="#" class="header_search_form">
								<input type="search" class="search_input" placeholder="Search" required="required">
								<button class="header_search_button d-flex flex-column align-items-center justify-content-center">
									<i class="fa fa-search" aria-hidden="true"></i>
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>			
		</div>			
	</header>

	<!-- Menu -->

	<div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
		<div class="menu_close_container"><div class="menu_close"><div></div><div></div></div></div>
		<div class="search">
			<form action="#" class="header_search_form menu_mm">
				<input type="search" class="search_input menu_mm" placeholder="Search" required="required">
				<button class="header_search_button d-flex flex-column align-items-center justify-content-center menu_mm">
					<i class="fa fa-search menu_mm" aria-hidden="true"></i>
				</button>
			</form>
		</div>
		<nav class="menu_nav">
			<ul class="menu_mm">
				<li class="menu_mm"><a href="index.html">Inicio</a></li>
				<li class="menu_mm"><a href="#">Sobre Nostros</a></li>
				<li class="menu_mm"><a href="#">Carros</a></li>
				<li class="menu_mm"><a href="#">Blog</a></li>
				<li class="menu_mm"><a href="contact.html">Contacto</a></li>
			</ul>
		</nav>
	</div>
	
	<!-- Home -->

	<div class="home">
		<div class="breadcrumbs_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="breadcrumbs">
							<ul>
								<li><a href="index.html">Inicio</a></li>
								<li>Sobre Nosotros</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>			
	</div>
			
			<!-- Home Slider -->
			<div class="owl-carousel owl-theme home_slider">
				
				<!-- Home Slider Item -->
				<div class="owl-item">
					<div class="home_slider_background" style="background-image:url(images/rally2e.jpg)"></div>
					<div class="home_slider_content">
						<div class="container">
							<div class="row">
								<div class="col text-center">
									<div class="home_slider_title">Encuentra tu carro soñado</div>
									<div class="home_slider_subtitle">La guia del automovilismo</div>
									<div class="home_slider_form_container">
										<form action="#" id="home_search_form_1" class="home_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between">
											<div class="d-flex flex-row align-items-center justify-content-start">
												<input type="search" class="home_search_input" placeholder="busca tu carro" required="required">
												<select class="dropdown_item_select home_search_input">
													<option>Todos los autos</option>
													<option>Competencia</option>
													<option>Super Autos</option>
												</select>
												<select class="dropdown_item_select home_search_input">
													<option>Motor</option>
													<option>Tecnologias</option>
													<option>Referencias</option>
												</select>
											</div>
											<button type="submit" class="home_search_button">buscar</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Home Slider Item -->
				<div class="owl-item">
					<div class="home_slider_background" style="background-image:url(images/rally2e.jpg)"></div>
					<div class="home_slider_content">
						<div class="container">
							<div class="row">
								<div class="col text-center">
									<div class="home_slider_title">Encuentra tu carro soñado</div>
									<div class="home_slider_subtitle">la guia del automovilismo</div>
									<div class="home_slider_form_container">
										<form action="#" id="home_search_form_2" class="home_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between">
											<div class="d-flex flex-row align-items-center justify-content-start">
												<input type="search" class="home_search_input" placeholder="busca tu carro" required="required">
												<select class="dropdown_item_select home_search_input">
													<option>Todos los autos</option>
													<option>Competencia</option>
													<option>Super Autos</option>
												</select>
												<select class="dropdown_item_select home_search_input">
													<option>Motor</option>
													<option>Tecnologias</option>
													<option>Referencias</option>
												</select>
											</div>
											<button type="submit" class="home_search_button">buscar</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

		

			</div>
		</div>

		<!-- Home Slider Nav -->

		<div class="home_slider_nav home_slider_prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
		<div class="home_slider_nav home_slider_next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
	</div>
	<!-- About -->

	<div class="about">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container text-center">
						<h2 class="section_title">Bienvenidos a GPE Car Information</h2>
						<div class="section_subtitle"><p>Noticias, información y novedades sobre el mundo tuerca.</p></div>
					</div>
				</div>
			</div>
			<div class="row about_row">
				
				<!-- About Item -->
				<div class="col-lg-4 about_col about_col_left">
					<div class="about_item">
						<div class="about_item_image"><img src="images/mision.png" alt=""></div>
						<div class="about_item_title"><a href="#">Misión</a></div>
						<div class="about_item_text">
							<p>Entusiasmar a nuestros visitantes en todo el mundo con automóviles innovadores, confiables y amigables con el medio ambiente, así como también con tecnologia d de excelencia, con el fin de que obtengan una bonita experiencia/</p>
						</div>
					</div>
				</div>

				<!-- About Item -->
				<div class="col-lg-4 about_col about_col_middle">
					<div class="about_item">
						<div class="about_item_image"><img src="images/vision3.png" alt=""></div>
						<div class="about_item_title"><a href="#">Visión</a></div>
						<div class="about_item_text">
							<p> Conseguir ser líderes en lo que tiene que ver con paginas informativas con una filosofía propia de servicio donde nuestro portal pueda desarrollarse y llegar a cumplir metas que colaboren con el crecimiento de la sociedad cuidando el medio ambiente.</p>
						</div>
					</div>
				</div>

				<!-- About Item -->
				<div class="col-lg-4 about_col about_col_right">
					<div class="about_item">
						<div class="about_item_image"><img src="images/valores2.png" alt=""></div>
						<div class="about_item_title"><a href="#">Valores</a></div>
						<div class="about_item_text">
							<p>  <ul>
								<li> ° Integridad, Honestidad y Transparencia, es el sello que nos caracteriza. </li>
								<li> ° Excelente servicio y respeto a nuestros visitantes y usuarios. </li>
								<li> ° Trabajo en equipo con  responsabilidad iniciativa y creatividad. </li>
								<li> ° Información verídica.  </li>
								</ul>  </p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	

	<!-- Partners -->

	<div class="partners">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="partners_slider_container">
						<div class="owl-carousel owl-theme partners_slider">

							<!-- Partner Item -->
							<div class="owl-item partner_item"><img src="images/honda.png" alt=""></div>

							<!-- Partner Item -->
							<div class="owl-item partner_item"><img src="images/vol.png" alt=""></div>

							<!-- Partner Item -->
							<div class="owl-item partner_item"><img src="images/hyu.png" alt=""></div>

							<!-- Partner Item -->
							<div class="owl-item partner_item"><img src="images/jeep.png" alt=""></div>

							<!-- Partner Item -->
							<div class="owl-item partner_item"><img src="images/aston.png" alt=""></div>

							<!-- Partner Item -->
							<div class="owl-item partner_item"><img src="images/suba.png" alt=""></div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->

	<footer class="footer">
		<div class="footer_background" style="background-image:url(images/black2.jpg)"></div>
		<div class="container">
			<div class="row footer_row">
				<div class="col">
					<div class="footer_content">
						<div class="row">

							<div class="col-lg-3 footer_col">
					
								<!-- Footer About -->
								<div class="footer_section footer_about">
									<div class="footer_logo_container">
										<a href="#">
											<div class="footer_logo_text">GPE<span>car information</span></div>
										</a>
									</div>
									<div class="footer_about_text">
										<p>Portal informativo de autos, en el cual podras encontar el auto de tus sueños</p>
									</div>
									<div class="footer_social">
										<ul>
											<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div>
								
							</div>

							<div class="col-lg-4 footer_col">
					
								<!-- Footer Contact -->
								<div class="footer_section footer_contact">
									<div class="footer_title"> Para mayor informacion</div>
									<div class="footer_contact_info">
										<ul>
											<li>Email: gpecarinformation@gmail.com</li>
											<li>Telefono:  +593 987444807<</li>
											<li>USFQ</li>
										</ul>
									</div>
								</div>
								
							</div>

							<div class="col-lg-4 footer_col">
					
								<!-- Footer links -->
								<div class="footer_section footer_links">
									<div class="footer_title">Menu Portal</div>
									<div class="footer_links_container">
										<ul>
											<li><a href="index.html">Inicio</a></li>
											<li><a href="about.html">Sobre Nosotros</a></li>
											<li><a href="contact.html">Contacto</a></li>
											<li><a href="courses.html">Carros</a></li>
											<li><a href="#">Eventos</a></li>
											
										</ul>
									</div>
								</div>
								
							</div>


						</div>
					</div>
				</div>
			</div>

			
		</div>
	</footer>
</div>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="styles/bootstrap4/popper.js"></script>
<script src="styles/bootstrap4/bootstrap.min.js"></script>
<script src="plugins/greensock/TweenMax.min.js"></script>
<script src="plugins/greensock/TimelineMax.min.js"></script>
<script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="plugins/greensock/animation.gsap.min.js"></script>
<script src="plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="plugins/parallax-js-master/parallax.min.js"></script>
<script src="plugins/colorbox/jquery.colorbox-min.js"></script>
<script src="js/about.js"></script>
</body>
</html>